.container{
    margin: 10px 10px 10px 10px;  
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-column: center;

}

.item{
    display: flex;
}

canvas{
 
    border-radius: 30px;
}

.button{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

button{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    color: aliceblue;
    display: flex;
}